name: Deploy Playstore

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy-playstore:
    name: Deploy Playstore
    runs-on: ubuntu-latest
    environment: release
    
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          ref: 'main'
      - name: Add Android keystore
        run: echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > android/app/dimigoin-keystore.jks

      - name: Add Android key properties
        run: echo "${{ secrets.ANDROID_KEY_PROPERTIES }}" > android/key.properties

      - name: Add Android Service Account
        run: echo "${{ secrets.PLAY_STORE_CREDENTIAL }}" | base64 --decode > android/google-play-secret.json

      - name: Add Google Service Json
        run: echo "${{ secrets.ANDROID_GOOGLE_SERVICE_JSON }}" | base64 --decode > android/app/google-services.json

      - name: Add Firebase Options
        run: echo "${{ secrets.FIREBASE_OPTIONS }}" > lib/firebase_options.dart

      - name: make env directory
        run: mkdir env

      - name: add .env file
        run: echo "${{ secrets.ENV }}" > env/.env

      - name: Check environment
        run: |
          echo "Android app directory:"
          ls -la android/app/ | grep -E "dimigoin-keystore.jks|google-services.json"
          echo ""
          echo "Android directory:"
          ls -la android/ | grep -E "key.properties|google-play-secret.json"
          echo ""
          echo "Firebase options:"
          ls -la lib/firebase_options.dart
          echo ""
          echo "ENV directory:"
          ls -la env/
      
      - name: Setup Java to compile the Android project
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Install flutter sdk
        uses: subosito/flutter-action@v2.16.0
        with:
          channel: stable
          cache: true
          flutter-version-file: pubspec.yaml
      - run: flutter pub get
      - run: flutter build appbundle --release
      - run: fastlane release
        working-directory: ./android

