name: Deploy TestFlight

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy-testflight:
    name: Deploy TestFlight
    runs-on: macos-latest
    environment: release
    
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          ref: 'beta'
      
      - name: Add Google Service Info
        run: echo "${{ secrets.IOS_GOOGLE_SERVICE_INFO }}" | base64 --decode > ios/Runner/GoogleService-Info.plist

      - name: Add Firebase Options
        run: echo "${{ secrets.FIREBASE_OPTIONS }}" > lib/firebase_options.dart

      - name: make env directory
        run: mkdir env

      - name: add .env file
        run: echo "${{ secrets.ENV }}" > env/.env

      - name: Check environment
        run: |
          echo "iOS Runner directory:"
          ls -la ios/Runner/ | grep -E "GoogleService-Info.plist"
          echo ""
          echo "Firebase options:"
          ls -la lib/firebase_options.dart
          echo ""
          echo "ENV directory:"
          ls -la env/

      - name: Install flutter sdk
        uses: subosito/flutter-action@v2.16.0
        with:
          channel: stable
          cache: true
          flutter-version-file: pubspec.yaml
      
      - run: flutter pub get
      
      - run: flutter build ios --release --no-codesign
      
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
          working-directory: ios
      
      - name: Deploy to TestFlight
        run: fastlane beta
        working-directory: ./ios
        env:
          APPSTORECONNECT_API_KEY_ID: ${{ secrets.APPSTORECONNECT_API_KEY_ID }}
          APPSTORECONNECT_API_ISSUER_ID: ${{ secrets.APPSTORECONNECT_API_ISSUER_ID }}
          APPSTORECONNECT_API_KEY: ${{ secrets.APPSTORECONNECT_API_KEY }}