name: Deploy Playstore Beta

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy-playstore-beta:
    name: Deploy Playstore Beta
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          ref: 'beta'
      - name: Add Android keystore
        run: echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > android/app/dimigoin-keystore.jks

      - name: Add Android key properties
        run: echo "${{ secrets.ANDROID_KEY_PROPERTIES }}" > android/key.properties

      - name: Add Android Service Account
        run: echo "${{ secrets.PLAY_STORE_CREDENTIAL }}" | base64 --decode > android/google-play-secret.json

      - name: Add Google Service Json
        run: echo "${{ secrets.ANDROID_GOOGLE_SERVICE_JSON }}" | base64 --decode > android/app/google-services.json

      - name: Add Firebase Options
        run: echo "${{ secrets.FIREBASE_OPTIONS }}" > lib/firebase_options.dart

      - name: make env directory
        run: mkdir env

      - name: add .env file
        run: echo "${{ secrets.ENV }}" > env/.env
      
      - name: Setup Java to compile the Android project
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 21.0

      - name: Install flutter sdk
        uses: subosito/flutter-action@v2.16.0
        with:
          channel: stable
          cache: true
          flutter-version-file: pubspec.yaml
      - run: flutter pub get
      - run: flutter build appbundle --release
      - run: fastlane beta
        working-directory: ./android

